.Ntable{
}

.Ntable th{
    padding-left:15px !important;
    padding-right:15px !important;
    text-align:center; background:#f4f3f3; 
}
.Ntable{border-bottom: 1px solid #eeeeee !important;}
.Ntable th, .Ntable td{font-size:13px; padding-top:5px !important; padding-bottom:5px !important;	 } 
.Ntable > thead > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}
.Ntable td{text-align:center;}
.smbtn{padding: 0px 6px;}
.Nform{ border:1px #eee solid; margin-right:10px;}
.mtop15{margin-top:15px;}
.flt_left{float:left;}
.flt_right{float:right;}
.m0{margin:0 !important;}
.mt20{margin-top:20px;}
.Nform_date{border-left:1px #eee solid; border-top:1px #eee solid; margin-right:10px;}
.dtinput{width:110px !important; margin-right:0 !important;}
.dataTables_paginate{margin-top:30px;}
select option:first-child{color:#f00;}
.breadcrumb{padding: 17px 15px; margin-bottom: 0px;}
.app .main-container.nav-horizontal .content-container{margin-top: 73px;}
.w200{width:220px !important;}
.site-settings{right:-150px !important;}

.btn-primary1 {
    color: #FFF;
    background-color: #EA73A0;
    border-color: #EA73A0;
}
@media(max-width:768px){
    .page .page-wrap > .row{padding:0 0;}
}

@media (min-width : 320px) and (max-width:767px)
{

    .app .main-container.nav-horizontal .content-container
    {
        margin-top: 42px;
    }
    .dtinput{width:100% !important; margin-right:0 !important;}

}
@media (min-width : 768px) and (max-width:1060px)
{

    .app .main-container.nav-horizontal .content-container
    {
        margin-top: 220px;
    }

}
.blkshow {
    padding: 7px 7px;
}
.blkshowpadd{
    padding-left:2px;
    padding-right:2px;
}
.waves-effect{
    /* overflow:hidden;
    cursor:default; */
    cursor:pointer; 

}



ul#icondisplay-inline-block,
ul#icondisplay-inline-block li {
    /* Setting a common base */
    margin: 0;
    padding: 0;
}

ul#icondisplay-inline-block li {
    display: inline-block;
}


ul#display-inline-block,
ul#display-inline-block li {
    /* Setting a common base */
    margin: 0;
    padding: 0;
}

ul#display-inline-block li {
    width:24%;
    height:auto;
    display: inline-block;
    height:100px;
    padding: 3px;
}

.available{
    background:#80D9B3;
}

td.available{background:none;}


.booked{
    background:#F66F62;
}
.tentative{
    background:#FFEB3B;
}
.investor{
    background:#784BC8;
}
.notopen{
    background:#42B7FF;
}
.nonecolor{
    background:#ffffff;
}
.colorscheme{
    padding:40px;
    background:#F9F9F9;
    border-radius:10px;
    margin-bottom:25px;
}
.iconcontainer{
    margin:15px;
}
.flt1{
    text-align:center;
}
.nbox{
    margin-bottom: 2px;
    font-weight: bold;}
.txteditor{
    height: auto;
    min-height: 300px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.choose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ptop80{padding-top:80px !important;}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{    color: #464646;
                                                                                                                                               background-color: #fff;
                                                                                                                                               border-color: #eee;}
button.multiselect {box-shadow:none !important;}
.err_display{color:#f00;}

.pt90{padding-top: 90px;}
.text-primary.text-bold span{font-weight:normal; font-size:12px; color:#464646;display:block;}
.pl0pr0{
    padding-left: 2px;
    padding-right: 2px;
}
.option_head{
    font-weight: 600;
}
.option_sec {
    margin-left: 3px;
}